<p id="notice"><%= notice %></p>

<h1>Atolyelers</h1>

<table>
  <thead>
    <tr>
      <th>Picture url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atolyelers.each do |atolyeler| %>
      <tr>
        <td><%= image_tag atolyeler.picture_url %></td>

        <td><%= link_to 'Show', atolyeler %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

